<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li>
            <a href="mailto:yadavpawan69290@gmail.com">
                <i class="bx bxl-gmail bx-tada-hover"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/Pawanyy/portfolio" target="_blank" rel="noopener noreferrer">
                <i class='bx bxl-github bx-tada-hover'></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/pawan-yadav-a455a31b8/" target="_blank" rel="noopener noreferrer">
                <i class='bx bxl-linkedin-square bx-tada-hover'></i>
            </a>
        </li>
        <li>
            <a href="tel:+91-7276616829">
                <i class='bx bxs-phone bx-tada-hover'></i>
            </a>
        </li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: 7276616829</li>
        <li>yadavpawan69290@gmail.com</li>
    </ul>
</div>