---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getImage } from 'astro:assets';
import Steps2 from '~/components/widgets/Steps2.astro';
import { getPermalink } from '~/utils/permalinks';
import Skills from '~/components/widgets/Skills.astro';

const metadata = {
  title: 'Portfolio — Pawan Yadav',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'View My Work',
        href: 'https://github.com/Pawanyy?tab=repositories',
        target: '_blank',
        icon: 'tabler:device-imac',
        iconDir: 'left',
      },
      { text: 'Contact Me', href: getPermalink('/contact'), icon: 'tabler:phone', iconDir: 'left' },
    ]}
    image={{ src: '~/assets/images/laptopuser.png', alt: 'Hero Image' }}
  >
    <Fragment slot="title" class:list={'text-align-left'}>
      <span class:list={'text-5xl'}>Hi, <small class="font-medium">I am</small></span>
      <br />
      <span class="text-accent dark:text-white highlight"> 🚀 Pawan Yadav 🤖</span>
      <br />
      <small class="font-semibold"><small>Software Developer</small></small>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">“Turning Coffee into Code, one bug at a time!”</span>
    </Fragment>
  </Hero2> -->

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'View My Work',
        href: 'https://github.com/Pawanyy?tab=repositories',
        target: '_blank',
        icon: 'tabler:device-imac',
        iconDir: 'left',
      },
      { text: 'Contact Me', href: getPermalink('/contact'), icon: 'tabler:phone', iconDir: 'left' },
    ]}
    #image={{ src: '~/assets/images/hero.png', alt: 'Hero Image' }}
  >
    <!-- Remove # above to Render Image -->
    <Fragment slot="title" class:list={'text-align-left'}>
      <span class='text-5xl'>Hi, <small class="font-semibold">I am</small></span>
      <br />
      <span class="text-accent dark:text-white highlight"> 🚀 Pawan Yadav 🤖</span>
      <br />
      <small class="font-normal"><small>Software Developer</small></small>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">“Turning Coffee into Code, one bug at a time!”</span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={2}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: '#',
        },
      },
      {
        icon: 'tabler:device-imac',
        callToAction: {
          target: '_blank',
          text: 'Projects',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Hey, it's Pawan! 🚀 A passionate coder with 2 years under my belt. I've mastered the code dance in C#, Java,
        PHP, JavaScript, and more. From Dot Net to Unity, I've tamed them all. I whip up user-friendly software that's
        both sleek and savvy. Always on the lookout for new challenges—let's craft something awesome together! 💻
      </p>
      <br />
      <p>
        <span class="text-lg text-muted mb-6 dark:text-slate-300">
          <em
            ><strong>Fun fact:</strong> I have a secret stash of coding jokes that I slip into my projects—consider them
            Easter eggs for your amusement!</em
          >
        </span>
      </p>
      <br />
      <p>If you're curious then dive deeper into my work:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    subtitle="My Professional Journey"
    items={[
      {
        title:
          'Junior Application Developer <br /> <span class="font-normal">Ank It Solutions Pvt Ltd, Mumbai, India</span> <br /> <span class="text-sm font-normal">May 2023 - Present</span>',
        description: `Developed web applications using Spring Boot and React.js.
                      <br>Optimized the frontend to enhance performance and improve user experience.
                      <br>Created comprehensive project documentation to facilitate smooth project management.
                      <br>Collaborated with the team in planning and executing the trading project.
                      <br>Implemented security features such as TOTP and Crypt Services to enhance project security.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Software Developer <br /> <span class="font-normal">Rudratech IT Services, Mumbai, India</span> <br /> <span class="text-sm font-normal">Jan 2021 - Dec 2022</span>',
        description: `Developed hotel, B2B, and B2C solutions with Winforms and C#, as well as added thermal printing support.
                      <br>Created MVPs for billing solutions, games, and mobile apps.
                      <br>Developed an LMS website with features such as AWS integration for videos, social login, payment integration, and a referral system.
                      <br>Optimized and customized a WordPress theme for a travel website, developed games for Android, desktop, and web platforms using Unity, Javascript.
                      <br>Optimized websites for Google ranking, added features to an HMS software, and optimized its theme for faster load.
                      <br>Developed an app prototype in Xamarin and made changes to a Kotlin app for custom intent.
                      <br>Created plugins for Unity apps such as date picker, calendar picker, and custom IJI modal using java and C#.
                      <br>Developed a Bootcamp website, tours and travel website with features such as cashbook, P&L account, supplier account, expense account, etc.
                      <br>Developed an internal management system for an export company to manage the flow of jobs between teams`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Note Widget ******************* -->

  <Note title="Metaphysical Debugging" text="Unraveling the Mysteries of Software Bugs" />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    subtitle="Shaping Dreams into Degrees 🚀"
    items={[
      {
        title: `BSc IT <br /> <span class="font-normal">SDT Kalani College</span> <br /> <span class="text-sm font-normal">2017-2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `HSC (Computer Science) <br /> <span class="font-normal">Pet Oxford Jr. College</span> <br /> <span class="text-sm font-normal">2016-2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `SSC <br /> <span class="font-normal">Bhartiya Hindi High School</span> <br /> <span class="text-sm font-normal">2014-2015</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features Widget ***************

  <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <Skills
    title="Skills"
    subtitle="Debugging with Jedi-level patience, and making computers do the cha-cha-cha."
    tagline="What i can do"
    columns={4}
    items={[
      {
        title: 'HTML',
        // description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        // icon: 'flat-color-icons:template',
      },
      {
        title: 'CSS',
      },
      {
        title: 'Javascript',
      },
      {
        title: 'Node Js',
      },
      {
        title: 'React.JS',
      },
      {
        title: 'C#',
      },
      {
        title: '.Net',
      },
      {
        title: 'ASP.Net, MVC',
      },
      {
        title: 'Winforms',
      },
      {
        title: 'Unity',
      },
      {
        title: 'Github',
      },
      {
        title: 'Angular',
      },
      {
        title: 'PHP',
      },
      {
        title: 'Laravel',
      },
      {
        title: 'MySQL',
      },
      {
        title: 'SQL Server',
      },
      {
        title: 'SQLite',
      },
      {
        title: 'TypeScript',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Skills>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contact Me"
    subtitle="Have questions? Feel free to contact me using the form below. I'm here to help!"
    callToAction={{
      text: 'Contact',
      icon: 'tabler:phone',
      iconDir: 'left',
      href: '/contact',
    }}
    items={[
      {
        title: 'Email',
        description: 'yadavpawan69290@gmail.com',
        href: '',
        icon: 'tabler:mail',
      },
      {
        title: 'Phone',
        description: '+91 (727) 661-6829',
        icon: 'tabler:phone',
      },
      {
        title: 'Github',
        description: '@pawanyy',
        icon: 'tabler:brand-github',
      },
    ]}
  />
</Layout>
