
<div class="notification-bar sticky">
    <p>Working on new portfolio Website: <a class="button" href="https://beta-pawanyadav.vercel.app/">https://beta-pawanyadav.vercel.app/</a></p>
</div>
<style>
    .notification-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #263236;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.notification-bar p a{
    
    color: #69F0AE;
    
}
.notification-bar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-bar p {
    margin: 0;
}
</style>
<app-banner appResponsive></app-banner>
<app-personal-information appResponsive></app-personal-information>
<app-education appResponsive></app-education>
<app-work-experience appResponsive></app-work-experience>
<app-skills appResponsive></app-skills>
<app-projects appResponsive></app-projects>
<app-contact appResponsive></app-contact>