:host {
    display: block;
    color: white;
    padding: 3rem 2rem;
}

.container {
    gap: 2rem;
    display: grid;
}

table {
    font-size: 1.3rem;
    outline: 1px solid white;
    
    tr {
        height: 40px;
    }

    tr td {
        padding-left: 0.5rem;
    }

    tr td:nth-child(even){
        color: var(--green);
    }
}

section {
    p {
        font-size: 1.2rem;
        text-align: justify;
    }

    p:not(:first-child) {
        margin-top: 1rem;
    }
}

/* PC */
:host.pc {

    margin-top: 3rem;

    .container {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        grid-column: 1/3;
    }

    section, table {
        width: 80%;
        margin: auto;
    }

}